In [1]:
import os
import pandas as pd
import numpy as np
import re

path = os.path.abspath(os.path.dirname(os.getcwd())) + '\\data'

info_article = pd.read_csv(path+'\\info\\info_article_o.csv')
info_issue = pd.read_csv(path+'\\info\\info_issue_o.csv')

In [41]:
# part 1.1: pages (articles)

info_article['page_start'] = info_article['page_start'].apply(lambda x:str(x).lstrip('S'))
info_article['page_end'] = info_article['page_end'].apply(lambda x:str(x).lstrip('S'))
info_issue['page_start'] = info_issue['page_start'].apply(lambda x:str(x).lstrip('S'))
info_issue['page_end'] = info_issue['page_end'].apply(lambda x:str(x).lstrip('S'))

for i_article in range(info_article.shape[0]):
    
    page_start = info_article.iloc[i_article]['page_start']
    page_end = info_article.iloc[i_article]['page_end']
    
    if(page_start == page_end):
        info_article.loc[i_article, 'page_quant'] = str(1)
    else:
        info_article.loc[i_article, 'page_quant'] = str(int(page_end) - int(page_start) +1)

In [42]:
# info_article.columns.values
# 'number_volume', 'number_issue', 'number_article', 'type_1',
# 'type_2', 'page_start', 'page_end', 'date_receive', 'date_accept',
# 'date_online', 'keyword', 'name_book', 'author_number',
# 'author_info', 'views', 'Crossref', 'Web_of_Science',
# 'page_number'

info_article = info_article[['number_volume', 'number_issue', 'number_article', 
                             'type_1', 'type_2', 'name_book', 'keyword',
                             'author_number', 'author_info',
                             'page_start', 'page_end', 'page_quant',
                             'date_receive', 'date_accept','date_online',
                              'views', 'Crossref', 'Web_of_Science']]

info_issue.to_csv(path+'\\info\\info_issue_o_1.csv',index=False,sep=',')
info_article.to_csv(path+'\\info\\info_article_o_1.csv',index=False,sep=',')
info_article.head()

,number_volume,number_issue,number_article,type_1,type_2,name_book,keyword,author_number,author_info,page_start,page_end,page_quant,date_receive,date_accept,date_online,views,Crossref,Web_of_Science
0,1,1,1,introduction,Introduction,Introduction,[],1,"[('Thomas P. Boje', ' Department of Sociology,...",1,7,7,NaN,NaN,21 Oct 2013,26,1,0
1,1,1,2,Article,Original Articles,National models for making and legitimating el...,"['business elites', 'corporate governance', 'l...",2,"[('Michel Bauer', ' Observatoire des Dirigeant...",9,31,23,NaN,NaN,21 Oct 2013,78,14,0
2,1,1,3,Article,Original Articles,"Models of the family, women’s role and social ...","['social policy', 'family', 'women’s roles', '...",1,"[('Catherine Hakim', ' London School of Econom...",33,58,26,NaN,NaN,21 Oct 2013,441,15,0
3,1,1,4,Article,Original Articles,The European Union and equal opportunities pol...,"['gender', 'equal opportunities', 'European Un...",1,"[('Sylvia Walby', ' University of Leeds', 'htt...",59,80,22,NaN,NaN,21 Oct 2013,142,13,0
4,1,1,5,Article,Original Articles,Private and public transfers between generatio...,"['generations', 'family', 'social policy', 'ag...",1,"[('Martin Kohli', ' Free University of Berlin'...",81,104,24,NaN,NaN,21 Oct 2013,371,194,0

In [36]:
# part 1.2: pages(issues) -pre1

info_article = pd.read_csv(path+'\\info\\info_article_o_1.csv')
info_issue = pd.read_csv(path+'\\info\\info_issue_o_1.csv')

# print(info_article)
# info_issue

# for i_article in range(info_article.shape[0]):
issue_group_help = info_article['number_article'].groupby([info_article['number_volume'], 
                                                           info_article['number_issue']]).size()
issue_group = pd.DataFrame(issue_group_help._stat_axis.values.tolist(),
                           columns = ['number_volume', 'number_issue'])
issue_group['article_quant'] = issue_group_help.values

# pd.concat([info_issue, issue_group], axis=1, join='outer')
info_issue = pd.merge(info_issue, issue_group, how = 'left')
info_issue = info_issue[['number_volume', 'number_issue', 'article_quant', 'year',
                         'page_start', 'page_end', 'theme']]

# info_issue
number_volume = info_issue['number_volume'].values
number_volume = [str(i) for i in number_volume]
info_issue['number_volume'] = number_volume

number_issue = info_issue['number_issue'].values
number_issue = [str(i) for i in number_issue]
info_issue['number_issue'] = number_issue

article_quant = info_issue['article_quant'].values
article_quant = [str(i) for i in article_quant]
info_issue['article_quant'] = article_quant

# info_article
number_volume = info_article['number_volume'].values
number_volume = [str(i) for i in number_volume]
info_article['number_volume'] = number_volume

number_issue = info_article['number_issue'].values
number_issue = [str(i) for i in number_issue]
info_article['number_issue'] = number_issue

number_article = info_article['number_article'].values
number_article = [str(i) for i in number_article]
info_article['number_article'] = number_article

info_article.to_csv(path+'\\info\\info_article_o_2.csv',index=False,sep=',')
info_issue.to_csv(path+'\\info\\info_issue_o_2_o_1.csv',index=False,sep=',')

info_issue.tail()

,number_volume,number_issue,article_quant,year,page_start,page_end,theme
99,22,4,6,2020,411,527,NaN
100,22,5,6,2020,529,681,NaN
101,23,1,61,2021,1,191,NaN
102,23,S1,61,2021,1,956,European Societies in the Time of the Coronavi...
103,23,2,6,2021,193,310,NaN

In [37]:
# part 1.2: pages(issues) -pre2

info_article = pd.read_csv(path+'\\info\\info_article_o_2.csv')
info_issue = pd.read_csv(path+'\\info\\info_issue_o_2_o_1.csv')

# info_issue
number_volume = info_issue['number_volume'].values
number_volume = [str(i) for i in number_volume]
info_issue['number_volume'] = number_volume

number_issue = info_issue['number_issue'].values
number_issue = [str(i) for i in number_issue]
info_issue['number_issue'] = number_issue

article_quant = info_issue['article_quant'].values
article_quant = [str(i) for i in article_quant]
info_issue['article_quant'] = article_quant

# info_article
number_volume = info_article['number_volume'].values
number_volume = [str(i) for i in number_volume]
info_article['number_volume'] = number_volume

number_issue = info_article['number_issue'].values
number_issue = [str(i) for i in number_issue]
info_article['number_issue'] = number_issue

number_article = info_article['number_article'].values
number_article = [str(i) for i in number_article]
info_article['number_article'] = number_article

def is_number(value):
    try:
        float(value)
        return True
    except ValueError:
        pass
    
    try:
        import unicodedata
        unicodedata.numeric(value)
        return True
    except (TypeError, ValueError):
        pass
    
    return False

In [38]:
# page_start
for i_issue in range(info_issue.shape[0]):
    
    page_start = info_issue.iloc[i_issue]['page_start']
    
    if is_number(page_start) ==  False:
        number_volume = info_issue.iloc[i_issue]['number_volume']
        number_issue = info_issue.iloc[i_issue]['number_issue']
        number_article = str(2)
        
        page_start = info_article[(info_article['number_volume']==number_volume) & 
                                  (info_article['number_issue']==number_issue) &
                                  (info_article['number_article']==number_article)]['page_start'].values[0]
        
    info_issue.loc[i_issue, 'page_start_mod'] = page_start

In [39]:
# page_end
for i_issue in range(info_issue.shape[0]):
    
    page_end = info_issue.iloc[i_issue]['page_end']
    
    if is_number(page_end) ==  False:
        number_volume = info_issue.iloc[i_issue]['number_volume']
        number_issue = info_issue.iloc[i_issue]['number_issue']
        number_article = str(int(info_issue.iloc[i_issue]['article_quant'])-1)
        
        page_end = info_article[(info_article['number_volume']==number_volume) & 
                                (info_article['number_issue']==number_issue) &
                                (info_article['number_article']==number_article)]['page_end'].values[0]
        
    info_issue.loc[i_issue, 'page_end_mod'] = page_end

In [40]:
info_article.to_csv(path+'\\info\\info_article_o_2.csv',index=False,sep=',')
info_issue.to_csv(path+'\\info\\info_issue_o_2_o_2.csv',index=False,sep=',')

In [54]:
# part 1.2: pages(issues) -pre3

info_article = pd.read_csv(path+'\\info\\info_article_o_2.csv')
info_issue = pd.read_csv(path+'\\info\\info_issue_o_2_o_2.csv')

# info_issue
number_volume = info_issue['number_volume'].values
number_volume = [str(i) for i in number_volume]
info_issue['number_volume'] = number_volume

number_issue = info_issue['number_issue'].values
number_issue = [str(i) for i in number_issue]
info_issue['number_issue'] = number_issue

article_quant = info_issue['article_quant'].values
article_quant = [str(i) for i in article_quant]
info_issue['article_quant'] = article_quant

# info_article
number_volume = info_article['number_volume'].values
number_volume = [str(i) for i in number_volume]
info_article['number_volume'] = number_volume

number_issue = info_article['number_issue'].values
number_issue = [str(i) for i in number_issue]
info_article['number_issue'] = number_issue

number_article = info_article['number_article'].values
number_article = [str(i) for i in number_article]
info_article['number_article'] = number_article

def is_number(value):
    try:
        float(value)
        return True
    except ValueError:
        pass
    
    try:
        import unicodedata
        unicodedata.numeric(value)
        return True
    except (TypeError, ValueError):
        pass
    
    return False

In [55]:
# page_start
for i_issue in range(info_issue.shape[0]):
    
    page_start = info_issue.iloc[i_issue]['page_start_mod']
    
    if is_number(page_start) ==  False:
        number_volume = info_issue.iloc[i_issue]['number_volume']
        number_issue = info_issue.iloc[i_issue]['number_issue']
        number_article = str(3)
        
        page_start = info_article[(info_article['number_volume']==number_volume) & 
                                  (info_article['number_issue']==number_issue) &
                                  (info_article['number_article']==number_article)]['page_start'].values[0]
        
    info_issue.loc[i_issue, 'page_start_mod'] = page_start

In [56]:
# page_end
for i_issue in range(info_issue.shape[0]):
    
    page_end = info_issue.iloc[i_issue]['page_end_mod']
    
    if is_number(page_end) ==  False:
        number_volume = info_issue.iloc[i_issue]['number_volume']
        number_issue = info_issue.iloc[i_issue]['number_issue']
        number_article = str(int(info_issue.iloc[i_issue]['article_quant'])-2)
        
        page_end = info_article[(info_article['number_volume']==number_volume) & 
                                (info_article['number_issue']==number_issue) &
                                (info_article['number_article']==number_article)]['page_end'].values[0]
        
    info_issue.loc[i_issue, 'page_end_mod'] = page_end

In [57]:
# page_count
for i_issue in range(info_issue.shape[0]):
    
    page_start = int(info_issue.iloc[i_issue]['page_start_mod'])
    page_end = int(info_issue.iloc[i_issue]['page_end_mod'])
    
    info_issue.loc[i_issue, 'page_quant_1'] = page_end - page_start +1

In [58]:
info_article.to_csv(path+'\\info\\info_article_o_2.csv',index=False,sep=',')
info_issue.to_csv(path+'\\info\\info_issue_o_2_o_3.csv',index=False,sep=',')

In [71]:
# part 1.2: pages(issues)

info_article = pd.read_csv(path+'\\info\\info_article_o_2.csv')
info_issue = pd.read_csv(path+'\\info\\info_issue_o_2_o_3.csv')

In [72]:
issue_group_help = info_article['page_quant'].groupby([info_article['number_volume'], 
                                                       info_article['number_issue']]).sum()
issue_group = pd.DataFrame(issue_group_help._stat_axis.values.tolist(),
                           columns = ['number_volume', 'number_issue'])
issue_group['page_quant_2'] = issue_group_help.values

In [75]:
info_issue = pd.merge(info_issue, issue_group, how = 'left')
info_issue = info_issue[['number_volume', 'number_issue', 'article_quant', 'year',
                         'page_start', 'page_end', 'page_start_mod','page_end_mod',
                         'page_quant_1','page_quant_2', 'theme']]

number_issue = info_issue['page_quant_1'].values
number_issue = [str(int(i)) for i in number_issue]
info_issue['page_quant_1'] = number_issue

info_article.to_csv(path+'\\info\\info_article_o_2.csv',index=False,sep=',')
info_issue.to_csv(path+'\\info\\info_issue_o_2.csv',index=False,sep=',')

info_issue.head()

,number_volume,number_issue,article_quant,year,page_start,page_end,page_start_mod,page_end_mod,page_quant_1,page_quant_2,theme
0,1,1,7,1999,1,131,1,131,131,129,NaN
1,1,2,7,1999,133,318,133,318,186,183,NaN
2,1,3,6,1999,319,499,319,499,181,180,NaN
3,2,1,6,2000,1,108,1,108,108,110,NaN
4,2,2,5,2000,113,238,113,238,126,124,NaN