In [73]:
# on the basis of "info_issue_o_2" and "info_article_o_2" 
# the issue 2021 - 1  make a mistake
# need to delete and re-crawl for this part

import os
import pandas as pd
import numpy as np

import requests
from bs4 import BeautifulSoup
from selenium import webdriver
import time

import re

path = os.path.abspath(os.path.dirname(os.getcwd())) + '\\data'

info_article = pd.read_csv(path+'\\info\\info_article_o_2.csv')
info_issue = pd.read_csv(path+'\\info\\info_issue_o_2.csv')

In [117]:
# step1 : delete the issue 2021-1
info_article = info_article[(info_article['number_volume']!=23)|
                            (info_article['number_issue']!='1')]
info_article = info_article.reset_index(drop = True)

info_article.to_csv(path+'\\info\\info_article_o_3.csv',index=False,sep=',')

info_article.tail()

,number_volume,number_issue,number_article,type_1,type_2,name_book,keyword,author_number,author_info,page_start,page_end,page_quant,date_receive,date_accept,date_online,views,Crossref,Web_of_Science
851,23,2,2,Article,Articles,Economic crisis and social capital in European...,"['Economic crisis', 'social capital', 'social ...",3,"[('Hajdeja Iglič', 'a Department of Sociology,...",195,231,37,17 Jan 2019,03 May 2020,21 May 2020,748,1,0
852,23,2,3,Article,Articles,Uniting the far right: how the far-right extre...,"['Extremism', 'populism', 'far right', 'Twitte...",2,"[('Reem Ahmed', 'a University of Hamburg, Hamb...",232,254,23,11 Jan 2019,27 Aug 2020,13 Oct 2020,374,0,30
853,23,2,4,Article,Articles,Migrants’ subjective well-being in Europe: doe...,"['Subjective well-being', 'relative income', '...",3,"[('Manuela Stranges', 'a Department of Economi...",255,284,30,09 Jul 2019,30 Sep 2020,04 Nov 2020,143,0,0
854,23,2,5,Article,Articles,European Outliers? Rethinking Europeanisation ...,[],2,"[('Adrian Favell', 'a University of Leeds, Lee...",285,307,23,NaN,NaN,19 Mar 2021,145,0,2
855,23,2,6,book review,Book Review,A United States of Europe?,[],1,"[('Luis Moreno', 'Institute of Public Goods an...",308,310,3,NaN,NaN,30 Mar 2021,14,0,0

In [48]:
# step 2 :get the corresponding website

issue_url = pd.read_csv(path+'\\website\\issue_new.csv')

issue_url = issue_url[(issue_url['number_volume']==23)&
                      (issue_url['number_issue']=='1')]['website_issue'].values[0]

response = requests.get(url=issue_url)

web_content = response.content
bs_obj=BeautifulSoup(web_content,'lxml').body.div.div

article = bs_obj.find_all(name='div', attrs={"class":"articleEntry"})

article_df = pd.DataFrame(columns=["number_volume","number_issue","number_article","type","link"])

for i in range(len(article)):
        try:
            type = article[i].find(name='div', attrs={"class":"article-type"}).string
        except:
            type = ""
            
        link_str = str(article[i].find(name='div', attrs={"class":"art_title linkable"}))
        link = re.findall(r"href=\"(.+?)\">", link_str)[0]
        link = 'https://www.tandfonline.com' + link
        
        article_df.loc[i] = [23, 1, i+1, type, link]
        
article_df.to_csv(path+'\\website_article\\article_vol23_isu1.csv',index=False,sep=',')
article_df

,number_volume,number_issue,number_article,type,link
0,23,1,1,Article,https://www.tandfonline.com/doi/full/10.1080/1...
1,23,1,2,Article,https://www.tandfonline.com/doi/full/10.1080/1...
2,23,1,3,Article,https://www.tandfonline.com/doi/full/10.1080/1...
3,23,1,4,Article,https://www.tandfonline.com/doi/full/10.1080/1...
4,23,1,5,Article,https://www.tandfonline.com/doi/full/10.1080/1...
5,23,1,6,Article,https://www.tandfonline.com/doi/full/10.1080/1...
6,23,1,7,Article,https://www.tandfonline.com/doi/full/10.1080/1...
7,23,1,8,book review,https://www.tandfonline.com/doi/full/10.1080/1...

In [54]:
# step 3: get information 1
article_df = pd.read_csv(path+'\\website_article\\article_vol23_isu1.csv')


def get_info(i):
    
    url_article = article_df["link"].iloc[i]
    response = requests.get(url=url_article)
    
    web_content = response.content
    bs_obj=BeautifulSoup(web_content,'lxml').body
    
    info_1 = pd.DataFrame(columns=["type_2", "page_start","page_end","date_receive",
                                   "date_accept","date_online","keyword"])
    
    # type_2
    type_2 = bs_obj.find_all(name='div', attrs={"class":"toc-heading"})[0].h3.string.strip('\n')
    
    # page
    try:
        page_str = bs_obj.find_all(name='span', attrs={"class":"contentItemPageRange"})[0].string
        
        page_start = re.findall(r"Pages ([A-Za-z0-9]*)-", page_str)[0]
        page_end = re.findall(r"-([A-Za-z0-9]*)\n", page_str)[0]
        
    except:
        try:
            page_start = re.findall(r"Page ([A-Za-z0-9]*)\n", page_str)[0]
            page_end = page_start
        except:
            page_start = np.nan
            page_end = np.nan
    
    # date
    date_str = str(bs_obj.find_all(name='div', attrs={"class":"inline-dropzone"})[2])
    
    try:
        date_receive = re.findall(r"<div>Received ([0-9][0-9] [A-Z][a-z][a-z] [0-9][0-9][0-9][0-9])</div>", date_str)[0]
    except:
        date_receive = np.nan
    
    try:
        date_accept = re.findall(r"<div>Accepted ([0-9][0-9] [A-Z][a-z][a-z] [0-9][0-9][0-9][0-9])</div>", date_str)[0]
    except:
        date_accept = np.nan
        
    try:
        date_online = re.findall(r"<div>Published online: ([0-9][0-9] [A-Z][a-z][a-z] [0-9][0-9][0-9][0-9])</div>", date_str)[0]
    except:
        date_online = np.nan
    
    # keyword
    try:
        keyword = []
        keyword_con = bs_obj.find_all(name='div', attrs={"class":"hlFld-KeywordText"})
        
        for i_keyword_con in keyword_con:
            for i_keyword in i_keyword_con.find_all(name='a',attrs={"class":"kwd-btn keyword-click"}):
                keyword.append(i_keyword.string)
    
    except:
        keyword = []
    
    # add information 
    info_1.loc[i] = [type_2, page_start, page_end, date_receive, date_accept, date_online, keyword]
    
    return info_1

In [55]:
info_1_all = pd.DataFrame(columns=["page_start","page_end","date_receive",
                                   "date_accept","date_online","keyword"])

for i in range(article_df.shape[0]):
    
    info_1 = get_info(i)
    
    info_1_all = pd.concat([info_1_all, info_1], axis=0, ignore_index=True)
    print("Getting information of article No."+str(i+1), " finished.")

Getting information of article No.1  finished.
Getting information of article No.2  finished.
Getting information of article No.3  finished.
Getting information of article No.4  finished.
Getting information of article No.5  finished.
Getting information of article No.6  finished.
Getting information of article No.7  finished.
Getting information of article No.8  finished.

In [56]:
info_1_all

,page_start,page_end,date_receive,date_accept,date_online,keyword,type_2
0,1,22,13 Oct 2019,28 Jan 2020,31 Mar 2020,"[Welfare attitudes, cultural values, self-inte...",The Social is Financial
1,23,45,26 Jun 2019,09 Apr 2020,07 May 2020,"[universal basic income, employment commitment...",The Social is Financial
2,46,70,23 Aug 2019,28 Apr 2020,18 May 2020,"[Youth unemployment, public employment service...",The Social is Financial
3,71,97,NaN,NaN,23 Sep 2020,"[Assortative mating, closure, cultural capital...",The Social is Personal
4,98,118,18 Jun 2019,01 Apr 2020,19 May 2020,"[Ageing, social networking sites, social media...",The Social is Personal
5,119,160,13 Apr 2019,28 Apr 2020,18 May 2020,"[Childlessness, theory of planned behaviour, f...",The Social is Personal
6,161,189,01 Aug 2019,26 Jun 2020,20 Jul 2020,"[Solo living, one-person households, second de...",The Social is Personal
7,190,191,NaN,NaN,28 Jan 2021,[],Book Review

In [63]:
info_1_all = info_1_all[["type_2","page_start","page_end","date_receive","date_accept","date_online","keyword"]]

info_0 = article_df.iloc[:,0:4]
info_0 = info_0.rename(columns={'type':'type_1'})

info_1 = pd.concat([info_0, info_1_all], axis=1)
info_1

,number_volume,number_issue,number_article,type_1,type_2,page_start,page_end,date_receive,date_accept,date_online,keyword
0,23,1,1,Article,The Social is Financial,1,22,13 Oct 2019,28 Jan 2020,31 Mar 2020,"[Welfare attitudes, cultural values, self-inte..."
1,23,1,2,Article,The Social is Financial,23,45,26 Jun 2019,09 Apr 2020,07 May 2020,"[universal basic income, employment commitment..."
2,23,1,3,Article,The Social is Financial,46,70,23 Aug 2019,28 Apr 2020,18 May 2020,"[Youth unemployment, public employment service..."
3,23,1,4,Article,The Social is Personal,71,97,NaN,NaN,23 Sep 2020,"[Assortative mating, closure, cultural capital..."
4,23,1,5,Article,The Social is Personal,98,118,18 Jun 2019,01 Apr 2020,19 May 2020,"[Ageing, social networking sites, social media..."
5,23,1,6,Article,The Social is Personal,119,160,13 Apr 2019,28 Apr 2020,18 May 2020,"[Childlessness, theory of planned behaviour, f..."
6,23,1,7,Article,The Social is Personal,161,189,01 Aug 2019,26 Jun 2020,20 Jul 2020,"[Solo living, one-person households, second de..."
7,23,1,8,book review,Book Review,190,191,NaN,NaN,28 Jan 2021,[]

In [64]:
# step 4: get information 2

def get_info_2(i):
    
    url_article = article_df["link"].iloc[i]
    response = requests.get(url=url_article)
    
    web_content = response.content
    bs_obj=BeautifulSoup(web_content,'lxml').body
    
    info_2 = pd.DataFrame(columns=["author_number","author_info"])
    
    # author
    
    try:
        author_list = bs_obj.find_all(name='span', attrs={"class":"NLM_contrib-group"})[0]
        author_list = author_list.find_all(name='a', attrs={"class":"entryAuthor"})
        
        author_number = 0
        author_info = []
        
        for i_author in author_list:
            
            i_author = str(i_author)
            
            try:
                author_name = re.findall(r">(.+?)<span class=\"overlay\">", i_author)[0]
            except:
                try:
                    author_name = re.findall(r">(.+?)</a>", i_author)[0]
                except:
                    author_name = ''
                
            try:
                author_institute = re.findall(r"<span class=\"overlay\">(.+?)<", i_author)[0]
            except:
                author_institute = ''
                
            try:
                author_href = 'https://www.tandfonline.com' + re.findall(r"<a class=\"entryAuthor\" href=\"(.+?)\">", i_author)[0]
            except:
                author_href = ''
                
            author_tuple = (author_name, author_institute, author_href)
            author_info.append(author_tuple)
            
            author_number = author_number + 1
        
    except:
        author_number = 0
        author_info = []
        
    info_2.loc[i] = [author_number, author_info]
    
    return info_2

In [65]:
info_2_all = pd.DataFrame(columns=["author_number","author_info"])

for i in range(article_df.shape[0]):
    
    info_2 = get_info_2(i)
    
    info_2_all = pd.concat([info_2_all, info_2], axis=0, ignore_index=True)
    print("Getting information of article No."+str(i+1), " finished.")

Getting information of article No.1  finished.
Getting information of article No.2  finished.
Getting information of article No.3  finished.
Getting information of article No.4  finished.
Getting information of article No.5  finished.
Getting information of article No.6  finished.
Getting information of article No.7  finished.
Getting information of article No.8  finished.

In [67]:
info_2 = info_2_all
info_2

  author_number                                        author_info
0             2  [(Sigita Doblytė, Department of Sociology, Uni...
1             1  [(Michal Kozák, Department of Sociology, Unive...
2             2  [(Sven Broschinski, Institute for Social Scien...
3             2  [(Maren Toft, a Department of Sociology and Hu...
4             3  [(Alessandra Gaia, University of Milano—Bicocc...
5             2  [(Marco Albertini, a Department of Political a...
6             4  [(Antonio D. Cámara, Bussiness Management, Mar...
7             1  [(Urangoo Bulgamaa, PhD candidate, Institute f...

In [74]:
# step 5: get information 3

def get_info_3(i):
    
    url_metrics = article_df["link"].iloc[i]
    
    driver = webdriver.Chrome()
    driver.get(url_metrics)
    #driver.find_elements_by_link_text('Metrics')[0].click()
    web_content = driver.page_source
    time.sleep(0.5)
    driver.quit()
    
    bs_obj=BeautifulSoup(web_content,'lxml').body
    
    # Metrics
    info_3 = pd.DataFrame(columns=["views","Crossref", "Web_of_Science"])
    
    metrics_list = bs_obj.find_all(name='div', attrs={"class":"value"})
    
    metrics = bs_obj.find_all(name='div', attrs={"class":"articleMetricsContainer"})[0]
   
    views =  metrics_list[0].string.split('\n')[1]
    Crossref = metrics_list[1].string.split('\n')[1]
    Web_of_Science = metrics_list[2].span.string
    
    info_3.loc[i] = [views, Crossref, Web_of_Science]
    
    return info_3

In [75]:
info_3_all = pd.DataFrame(columns=["views","Crossref", "Web_of_Science"])

for i in range(article_df.shape[0]):
    
    info_3 = get_info_3(i)
    
    info_3_all = pd.concat([info_3_all, info_3], axis=0, ignore_index=True)
    print("Getting information of article No."+str(i+1), " finished.")

Getting information of article No.1  finished.
Getting information of article No.2  finished.
Getting information of article No.3  finished.
Getting information of article No.4  finished.
Getting information of article No.5  finished.
Getting information of article No.6  finished.
Getting information of article No.7  finished.
Getting information of article No.8  finished.

In [77]:
info_3 = info_3_all
info_3

   views Crossref Web_of_Science
0    194        0              0
1  1,423        0              0
2    172        0              0
3  1,569        0             17
4    446        4              1
5    328        0             18
6    556        0              0
7     88        0              3

In [78]:
# step 6: get information 4

def get_info_4(i):
    
    url_article = article_df["link"].iloc[i]
    response = requests.get(url=url_article)
    
    web_content = response.content
    bs_obj=BeautifulSoup(web_content,'lxml').body
    
    info_4 = pd.DataFrame(columns=["name_book"])
    
    name_book_str = bs_obj.find_all(name='span', attrs={"class":"NLM_article-title hlFld-title"})[0]
    name_book = re.findall(r"\"NLM_article-title hlFld-title\">(.+?)</span>", str(name_book_str))[0]
    
    info_4.loc[i] = [name_book]
    
    return info_4

In [79]:
info_4_all = pd.DataFrame(columns=["name_book"])

for i in range(article_df.shape[0]):
    
    info_4 = get_info_4(i)
    
    info_4_all = pd.concat([info_4_all, info_4], axis=0, ignore_index=True)
    print("Getting information of article No."+str(i+1), " finished.")

Getting information of article No.1  finished.
Getting information of article No.2  finished.
Getting information of article No.3  finished.
Getting information of article No.4  finished.
Getting information of article No.5  finished.
Getting information of article No.6  finished.
Getting information of article No.7  finished.
Getting information of article No.8  finished.

In [81]:
info_4 = info_4_all
info_4

                                           name_book
0  What, where, and how: drivers of welfare attit...
1  Cultural productivism and public support for t...
2  The relevance of public employment services fo...
3  Upper-class romance: homogamy at the apex of t...
4  Social networking sites use and life satisfact...
5  I’ve changed my mind. The intentions to be chi...
6  Sociodemographic analysis of an accelerated tr...
7                              The case for degrowth

In [87]:
info_all = pd.concat([info_1, info_4, info_2, info_3], axis=1)
info = info_all
info

,number_volume,number_issue,number_article,type_1,type_2,page_start,page_end,date_receive,date_accept,date_online,keyword,name_book,author_number,author_info,views,Crossref,Web_of_Science
0,23,1,1,Article,The Social is Financial,1,22,13 Oct 2019,28 Jan 2020,31 Mar 2020,"[Welfare attitudes, cultural values, self-inte...","What, where, and how: drivers of welfare attit...",2,"[(Sigita Doblytė, Department of Sociology, Uni...",194,0,0
1,23,1,2,Article,The Social is Financial,23,45,26 Jun 2019,09 Apr 2020,07 May 2020,"[universal basic income, employment commitment...",Cultural productivism and public support for t...,1,"[(Michal Kozák, Department of Sociology, Unive...","1,423",0,0
2,23,1,3,Article,The Social is Financial,46,70,23 Aug 2019,28 Apr 2020,18 May 2020,"[Youth unemployment, public employment service...",The relevance of public employment services fo...,2,"[(Sven Broschinski, Institute for Social Scien...",172,0,0
3,23,1,4,Article,The Social is Personal,71,97,NaN,NaN,23 Sep 2020,"[Assortative mating, closure, cultural capital...",Upper-class romance: homogamy at the apex of t...,2,"[(Maren Toft, a Department of Sociology and Hu...","1,569",0,17
4,23,1,5,Article,The Social is Personal,98,118,18 Jun 2019,01 Apr 2020,19 May 2020,"[Ageing, social networking sites, social media...",Social networking sites use and life satisfact...,3,"[(Alessandra Gaia, University of Milano—Bicocc...",446,4,1
5,23,1,6,Article,The Social is Personal,119,160,13 Apr 2019,28 Apr 2020,18 May 2020,"[Childlessness, theory of planned behaviour, f...",I’ve changed my mind. The intentions to be chi...,2,"[(Marco Albertini, a Department of Political a...",328,0,18
6,23,1,7,Article,The Social is Personal,161,189,01 Aug 2019,26 Jun 2020,20 Jul 2020,"[Solo living, one-person households, second de...",Sociodemographic analysis of an accelerated tr...,4,"[(Antonio D. Cámara, Bussiness Management, Mar...",556,0,0
7,23,1,8,book review,Book Review,190,191,NaN,NaN,28 Jan 2021,[],The case for degrowth,1,"[(Urangoo Bulgamaa, PhD candidate, Institute f...",88,0,3

In [91]:
# step 7: get information 4

for i_info in range(info.shape[0]):
    
    page_start = info.iloc[i_info]['page_start']
    page_end = info.iloc[i_info]['page_end']
    
    info.loc[i_info, 'page_quant'] = str(int(page_end)-int(page_start) +1)

info

,number_volume,number_issue,number_article,type_1,type_2,page_start,page_end,date_receive,date_accept,date_online,keyword,name_book,author_number,author_info,views,Crossref,Web_of_Science,page_quant
0,23,1,1,Article,The Social is Financial,1,22,13 Oct 2019,28 Jan 2020,31 Mar 2020,"[Welfare attitudes, cultural values, self-inte...","What, where, and how: drivers of welfare attit...",2,"[(Sigita Doblytė, Department of Sociology, Uni...",194,0,0,22
1,23,1,2,Article,The Social is Financial,23,45,26 Jun 2019,09 Apr 2020,07 May 2020,"[universal basic income, employment commitment...",Cultural productivism and public support for t...,1,"[(Michal Kozák, Department of Sociology, Unive...","1,423",0,0,23
2,23,1,3,Article,The Social is Financial,46,70,23 Aug 2019,28 Apr 2020,18 May 2020,"[Youth unemployment, public employment service...",The relevance of public employment services fo...,2,"[(Sven Broschinski, Institute for Social Scien...",172,0,0,25
3,23,1,4,Article,The Social is Personal,71,97,NaN,NaN,23 Sep 2020,"[Assortative mating, closure, cultural capital...",Upper-class romance: homogamy at the apex of t...,2,"[(Maren Toft, a Department of Sociology and Hu...","1,569",0,17,27
4,23,1,5,Article,The Social is Personal,98,118,18 Jun 2019,01 Apr 2020,19 May 2020,"[Ageing, social networking sites, social media...",Social networking sites use and life satisfact...,3,"[(Alessandra Gaia, University of Milano—Bicocc...",446,4,1,21
5,23,1,6,Article,The Social is Personal,119,160,13 Apr 2019,28 Apr 2020,18 May 2020,"[Childlessness, theory of planned behaviour, f...",I’ve changed my mind. The intentions to be chi...,2,"[(Marco Albertini, a Department of Political a...",328,0,18,42
6,23,1,7,Article,The Social is Personal,161,189,01 Aug 2019,26 Jun 2020,20 Jul 2020,"[Solo living, one-person households, second de...",Sociodemographic analysis of an accelerated tr...,4,"[(Antonio D. Cámara, Bussiness Management, Mar...",556,0,0,29
7,23,1,8,book review,Book Review,190,191,NaN,NaN,28 Jan 2021,[],The case for degrowth,1,"[(Urangoo Bulgamaa, PhD candidate, Institute f...",88,0,3,2

In [92]:
info = info[['number_volume', 'number_issue', 'number_article', 
             'type_1', 'type_2', 'name_book', 'keyword',
             'author_number', 'author_info',
             'page_start', 'page_end', 'page_quant',
             'date_receive', 'date_accept','date_online',
             'views', 'Crossref', 'Web_of_Science']]
info

,number_volume,number_issue,number_article,type_1,type_2,name_book,keyword,author_number,author_info,page_start,page_end,page_quant,date_receive,date_accept,date_online,views,Crossref,Web_of_Science
0,23,1,1,Article,The Social is Financial,"What, where, and how: drivers of welfare attit...","[Welfare attitudes, cultural values, self-inte...",2,"[(Sigita Doblytė, Department of Sociology, Uni...",1,22,22,13 Oct 2019,28 Jan 2020,31 Mar 2020,194,0,0
1,23,1,2,Article,The Social is Financial,Cultural productivism and public support for t...,"[universal basic income, employment commitment...",1,"[(Michal Kozák, Department of Sociology, Unive...",23,45,23,26 Jun 2019,09 Apr 2020,07 May 2020,"1,423",0,0
2,23,1,3,Article,The Social is Financial,The relevance of public employment services fo...,"[Youth unemployment, public employment service...",2,"[(Sven Broschinski, Institute for Social Scien...",46,70,25,23 Aug 2019,28 Apr 2020,18 May 2020,172,0,0
3,23,1,4,Article,The Social is Personal,Upper-class romance: homogamy at the apex of t...,"[Assortative mating, closure, cultural capital...",2,"[(Maren Toft, a Department of Sociology and Hu...",71,97,27,NaN,NaN,23 Sep 2020,"1,569",0,17
4,23,1,5,Article,The Social is Personal,Social networking sites use and life satisfact...,"[Ageing, social networking sites, social media...",3,"[(Alessandra Gaia, University of Milano—Bicocc...",98,118,21,18 Jun 2019,01 Apr 2020,19 May 2020,446,4,1
5,23,1,6,Article,The Social is Personal,I’ve changed my mind. The intentions to be chi...,"[Childlessness, theory of planned behaviour, f...",2,"[(Marco Albertini, a Department of Political a...",119,160,42,13 Apr 2019,28 Apr 2020,18 May 2020,328,0,18
6,23,1,7,Article,The Social is Personal,Sociodemographic analysis of an accelerated tr...,"[Solo living, one-person households, second de...",4,"[(Antonio D. Cámara, Bussiness Management, Mar...",161,189,29,01 Aug 2019,26 Jun 2020,20 Jul 2020,556,0,0
7,23,1,8,book review,Book Review,The case for degrowth,[],1,"[(Urangoo Bulgamaa, PhD candidate, Institute f...",190,191,2,NaN,NaN,28 Jan 2021,88,0,3

In [104]:
info_issue.loc[101,'article_quant'] = info.shape[0]
info_issue.loc[101]

number_volume       23
number_issue         1
article_quant        8
year              2021
page_start           1
page_end           191
page_start_mod       1
page_end_mod       191
page_quant_1       191
page_quant_2       956
theme              NaN
Name: 101, dtype: object

In [114]:
page_count = info['page_quant'].values
page_count = [int(i) for i in page_count]
info_issue.loc[101,'page_quant_2'] = sum(page_count)
info_issue.loc[101]

number_volume       23
number_issue         1
article_quant        8
year              2021
page_start           1
page_end           191
page_start_mod       1
page_end_mod       191
page_quant_1       191
page_quant_2       191
theme              NaN
Name: 101, dtype: object

In [121]:
info_issue.to_csv(path+'\\info\\info_issue_o_3.csv',index=False,sep=',')
info_issue.tail()

,number_volume,number_issue,article_quant,year,page_start,page_end,page_start_mod,page_end_mod,page_quant_1,page_quant_2,theme
99,22,4,6,2020,411,527,411,527,117,117,NaN
100,22,5,6,2020,529,681,529,681,153,153,NaN
101,23,1,8,2021,1,191,1,191,191,191,NaN
102,23,S1,61,2021,1,956,1,956,956,956,European Societies in the Time of the Coronavi...
103,23,2,6,2021,193,310,193,310,118,118,NaN

In [122]:
info_article = pd.concat([info_article, info], axis=0, ignore_index=True)
info_article.to_csv(path+'\\info\\info_article_o_3.csv',index=False,sep=',')
info_article.tail()

,number_volume,number_issue,number_article,type_1,type_2,name_book,keyword,author_number,author_info,page_start,page_end,page_quant,date_receive,date_accept,date_online,views,Crossref,Web_of_Science
859,23,1,4,Article,The Social is Personal,Upper-class romance: homogamy at the apex of t...,"[Assortative mating, closure, cultural capital...",2,"[(Maren Toft, a Department of Sociology and Hu...",71,97,27,NaN,NaN,23 Sep 2020,"1,569",0,17
860,23,1,5,Article,The Social is Personal,Social networking sites use and life satisfact...,"[Ageing, social networking sites, social media...",3,"[(Alessandra Gaia, University of Milano—Bicocc...",98,118,21,18 Jun 2019,01 Apr 2020,19 May 2020,446,4,1
861,23,1,6,Article,The Social is Personal,I’ve changed my mind. The intentions to be chi...,"[Childlessness, theory of planned behaviour, f...",2,"[(Marco Albertini, a Department of Political a...",119,160,42,13 Apr 2019,28 Apr 2020,18 May 2020,328,0,18
862,23,1,7,Article,The Social is Personal,Sociodemographic analysis of an accelerated tr...,"[Solo living, one-person households, second de...",4,"[(Antonio D. Cámara, Bussiness Management, Mar...",161,189,29,01 Aug 2019,26 Jun 2020,20 Jul 2020,556,0,0
863,23,1,8,book review,Book Review,The case for degrowth,[],1,"[(Urangoo Bulgamaa, PhD candidate, Institute f...",190,191,2,NaN,NaN,28 Jan 2021,88,0,3